.index
  .index__search
  .index__wrapper
    - @posts.each do |post|
      .index__wrapper__content
        .index__wrapper__content__title
          = link_to post.title, post_path(post.id)
        .index__wrapper__content__tag
          = render 'posts/tag_list', tag_list: post.tag_list
        .index__wrapper__content__text
          = simple_format post.text
