.new
  新規投稿
  .new__wrapper
    = form_with model: @post, local: true do |f|
      .new__wrapper__content
        .new__wrapper__content__title
          .new__wrapper__content__title__top
            タイトル
          .new__wrapper__content__title__bottom
            = f.text_field :title
        .new__wrapper__content__tag
          タグ
        .new__wrapper__content__text
          .new__wrapper__content__text__top
            テキスト
          .new__wrapper__content__text__bottom
            = f.text_area :text
        .new__wrapper__content__btn
          = f.submit "投稿"
