a {
  text-decoration: none;
  color: black;
}
.header {
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    margin-left: 50px;
    display: flex;
    align-items: center;
    width: 70%;
    a {
      font-size: 32px;
    }
    &__search {
      margin-left: 30px;
      width: 50%;
      &__field {
        border-radius: 5px;
        width: 50%;
      }
      &__btn {
        background-color: #485369;
        color: white;
        padding: 1px 10px;
        border-radius: 5px;
      }
    }
  }
  &__list {
    display: flex;
    margin-right: 15px;
    &__item {
      padding-right: 15px;
    }
  }
}
