.index {
  width: 100%;
  background-color: #dae0e5;
  padding-top: 15px;
  padding-bottom: 15px;
  &__wrapper {
    width: 50%;
    margin: 0 auto;
    &__content {
      width: 98%;
      background-color: white;
      margin: 15px auto;
      border-radius: 10px;
      box-shadow: 0 0 8px grey;
      padding: 10px;
      &__title {
        font-size: 24px;
        margin: 0 15px 15px;
        border-bottom: 1px solid #dae0e5;
        a {
          color: black;
        }
        a:hover {
          color: red;
        }
      }
      &__tag {
        margin: 10px;
        border-bottom: 1px solid #dae0e5;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
      &__text {
        margin: 0 15px 15px;
      }
    }
  }
}
