.new {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #dae0e5;
  padding-top: 15px;
  &__post {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 8px grey;
    &__top {
      font-size: 28px;
    }
    &__wrapper {
      margin-top: 15px;
      &__title {
        &__top {
          text-align: left;
          margin-left: 15px;
        }
        &__bottom {
          &__field {
            width: 95%;
            border-radius: 5px;
          }
        }
      }
      &__tag {
        margin-top: 15px;
        height: 30px;
        &__top {
          text-align: left;
          margin-left: 15px;
        }
        &__bottom {
          &__field {
            width: 95%;
            border-radius: 5px;
          }
        }
      }
      &__text {
        margin-top: 40px;
        &__top {
          text-align: left;
          margin-left: 15px;
        }
        &__bottom {
          &__field {
            width: 95%;
            border-radius: 10px;
          }
        }
      }
      &__sub {
        margin-top: 15px;
        padding-bottom: 15px;
        &__btn {
          display: inline-block;
          border-radius: 10px;
          font-size: 14pt;
          cursor: pointer;
          padding: 12px 12px;
          background: white;
          line-height: 1em;
          transition: 0.3s;
          box-shadow: 6px 6px 3px #666666;
          border: 2px solid #485369;
          width: 27%;
        }
        &__btn:hover {
          box-shadow: none;
        }
      }
    }
  }
}
