.index {
  &__comment__field {
    width: 50%;
    margin: 0 auto;
    &__area {
      width: 100%;
      border-radius: 5px;
    }
    &__btn {
      display: inline-block;
      border-radius: 5%;
      text-align: center;
      cursor: pointer;
      padding: 8px 12px;
      background: $dark_gray;
      color: $black;
      line-height: 1em;
      transition: 0.3s;
    }
  }
  &__comment__main {
    width: 50%;
    margin: 15px auto 0;
    padding-bottom: 15px;
    &__box {
      background-color: $dark_gray;
      margin-bottom: 10px;
      &--top {
        padding: 10px;
        &--name {
          color: $green;
        }
      }
      &--bottom {
        padding: 10px;
      }
      &--reply {
        margin-top: 10px;
        margin-left: 10px;
        color: $green;
        cursor: pointer;
      }
      #reply-text {
        margin: 10px;
        width: 94%;
        padding: 0 10px;
      }
      .reply__btn {
        padding: 0 10px;
        &__cansel {
          display: inline-block;
          border-radius: 5%;
          text-align: center;
          cursor: pointer;
          padding: 8px 12px;
          background: $dark_gray;
          color: $black;
          line-height: 1em;
          transition: 0.3s;
          border: 1px solid $black;
        }
      }
      .reply__btn {
        display: inline-block;
        border-radius: 5%;
        text-align: center;
        cursor: pointer;
        padding: 8px 12px;
        background: $dark_gray;
        color: $black;
        line-height: 1em;
        transition: 0.3s;
      }
    }
    &__reply {
      background-color: $dark_gray;
      margin-bottom: 15px;
      width: 60%;
      padding: 5px;
      &--top {
        padding: 10px;
        &--name {
          color: $green;
        }
      }
      &--bottom {
        padding: 10px;
      }
    }
  }
}
